#loaderComponent {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: red;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
